li{
    display: block;

    
    

}
div{
    margin-top: 2rem;
}
.div{
    display: block;
    margin-top: 2rem;
}

h3{
    display: block;
    width: auto;
}

button{
    margin-top: 2rem;
    display: block;
}